Repository lowlighter/metrics, pull requests merged in 2021-11, with the labels that each got.

#648 feat(plugins/topics): add `icons` mode
  source/plugins/topics/metadata.yml
  source/templates/classic/partials/topics.ejs
Labels: 🖼️ templates, 🧩 plugins, 📌 plugin topics

#649 fix(app/action): fix `output_action: none`
  source/app/action/index.mjs
Labels: 📊 metrics embed

#650 fix(plugins/code,habits,languages): support basic login as authoring
  source/plugins/code/index.mjs
  source/plugins/habits/index.mjs
  source/plugins/languages/analyzers.mjs
Labels: 🧩 plugins, ♐ plugin code, 💡 plugin habits, 🈷️ plugin languages

#635 feat(plugins/notable): add `indepth` mode
  source/plugins/notable/index.mjs
  source/plugins/notable/metadata.yml
  source/plugins/notable/queries/commits.graphql
  source/templates/classic/partials/notable.ejs
  source/templates/classic/style.css
Labels: 🧩 plugins, 🎩 plugin notable

#652 feat(plugins/code): add `plugin_code_languages` option
  source/plugins/code/index.mjs
  source/plugins/code/metadata.yml
Labels: 🧩 plugins, ♐ plugin code

#661 fix(plugins/language): aliases of same language now aggregates values
  source/plugins/languages/index.mjs
Labels: 🧩 plugins, 🈷️ plugin languages

#660 feat(templates/repository, templates/terminal): additional support
  source/plugins/screenshot/index.mjs
  source/templates/repository/partials/_.json
  source/templates/repository/partials/posts.ejs
  source/templates/repository/partials/screenshot.ejs
  source/templates/repository/partials/sponsors.ejs
  source/templates/repository/partials/stock.ejs
  source/templates/terminal/partials/_.json
  source/templates/terminal/partials/isocalendar.ejs
  source/templates/terminal/partials/screenshot.ejs
  source/templates/terminal/style.css
Labels: 🖼️ templates, 🧩 plugins, 📸 plugin screenshot

#669 fix(plugins/followup): pr closed count
  source/plugins/followup/queries/repository.graphql
  source/plugins/followup/queries/user.graphql
Labels: 🧩 plugins, 🎟️ plugin followup

#679 fix(plugins/notable): `plugin_notable_repositories` not applied when `plugin_notable_from: all`
  source/plugins/notable/index.mjs
Labels: 🧩 plugins, 🎩 plugin notable

#680 feat(metrics): improved optimizers
  source/app/metrics/index.mjs
  source/app/metrics/utils.mjs
  source/plugins/core/metadata.yml
Labels: 🧩 plugins, 🧱 core

#675 Plugin/poopmap
  source/app/mocks/api/axios/get/poopmap.mjs
  source/plugins/poopmap/README.md
  source/plugins/poopmap/index.mjs
  source/plugins/poopmap/metadata.yml
  source/plugins/poopmap/tests.yml
  source/templates/classic/partials/_.json
  source/templates/classic/partials/poopmap.ejs
Labels: 🖼️ templates, 🧩 plugins

#685 fix(#684) Restrict track name to one line & set constant artwork size
  source/templates/classic/partials/music.ejs
  source/templates/classic/style.css
Labels: 🖼️ templates
