Repository lowlighter/metrics, pull requests merged in 2021-09, with the labels that each got.

#516 feat(plugins/notable): display empty message when contribution empty
  source/templates/classic/partials/notable.ejs
Labels: templates, templates-classic

#517 fix(plugins/languages): skip merge commits from recent analysis
  source/plugins/languages/analyzers.mjs
Labels: plugins

#518 Update Linguist to 2.0.0
  package-lock.json
  package.json
  source/plugins/languages/analyzers.mjs
Labels: plugins, dependencies

#524 Fix language plugin crash
  source/plugins/languages/analyzers.mjs
Labels: plugins

#525 feat(plugins/isocalendar): make stats based on overall account contributions rather than restricted to `isocalendar.duration`
  source/plugins/isocalendar/index.mjs
  source/plugins/isocalendar/metadata.yml
Labels: plugins

#528 feat(plugins/isocalendar): add highest commit in day and some design changes
  source/plugins/isocalendar/index.mjs
  source/templates/classic/partials/isocalendar.ejs
Labels: templates, plugins, templates-classic

#529 fix(plugins/languages): ensure lang is defined before checking categories (ref #513)
  source/plugins/languages/analyzers.mjs
Labels: plugins

#532 fix(plugins/isocalendar): use local max rather than all-time max for bars scaling
  source/plugins/isocalendar/index.mjs
Labels: plugins

#526 feat(plugins/code): add new code plugin
  source/app/metrics/utils.mjs
  source/app/mocks/api/github/rest/request.mjs
  source/app/web/statics/app.placeholder.js
  source/plugins/code/README.md
  source/plugins/code/index.mjs
  source/plugins/code/metadata.yml
  source/plugins/code/tests.yml
  source/plugins/languages/README.md
  source/templates/classic/partials/_.json
  source/templates/classic/partials/code.ejs
  source/templates/classic/style.css
Labels: web, templates, plugins, core, tests, templates-classic

#537 Fix: typo
  source/app/web/statics/about/script.js
  source/plugins/achievements/list/users.mjs
  source/plugins/achievements/metadata.yml
Labels: web, plugins, metrics-insights

#548 feat(plugins/sponsors): add new sponsors plugin
  source/app/mocks/api/github/graphql/sponsors.default.mjs
  source/app/web/statics/app.placeholder.js
  source/plugins/sponsors/README.md
  source/plugins/sponsors/index.mjs
  source/plugins/sponsors/metadata.yml
  source/plugins/sponsors/queries/sponsors.graphql
  source/plugins/sponsors/tests.yml
  source/templates/classic/partials/_.json
  source/templates/classic/partials/sponsors.ejs
  source/templates/classic/style.css
Labels: web, templates, plugins, tests, templates-classic
