Repository lowlighter/metrics, pull requests merged in 2021-05, with the labels that each got.

#291 Add followup, habits and introduction section in insights
  source/app/web/instance.mjs
  source/app/web/statics/about/index.html
  source/app/web/statics/about/script.js
  source/app/web/statics/about/style.css
Labels: metrics-insights, web

#286 Release v3.9
  package-lock.json
  package.json
Labels: action, dependencies, metrics-insights, repository, web

#293 Sort notable contributions by number of stars
  source/plugins/notable/queries/contributions.graphql
Labels: plugins

#299 WEB: Add copy button to action tab
  .github/preview.mjs
  package-lock.json
  package.json
  source/app/web/instance.mjs
  source/app/web/statics/app.js
  source/app/web/statics/index.html
Labels: dependencies, repository, web

#307 Use timezone in metadata
  source/plugins/core/index.mjs
  source/templates/classic/image.svg
  source/templates/repository/image.svg
  source/templates/terminal/image.svg
Labels: core, plugins, templates, templates-classic, templates-repository

#308 Accept both absolute and relative values for config padding
  source/app/metrics/utils.mjs
  source/plugins/core/README.md
  source/plugins/core/metadata.yml
Labels: core, plugins

#310 Add `config_display` option to support `regular` and `large` renders
  source/app/metrics/index.mjs
  source/app/web/statics/app.placeholder.js
  source/plugins/contributors/index.mjs
  source/plugins/core/README.md
  source/plugins/core/index.mjs
  source/plugins/core/metadata.yml
  source/plugins/licenses/index.mjs
  source/plugins/screenshot/index.mjs
  source/plugins/skyline/index.mjs
  source/plugins/stargazers/index.mjs
  source/plugins/stock/index.mjs
  source/templates/classic/image.svg
  source/templates/classic/partials/achievements.ejs
  source/templates/classic/partials/anilist.ejs
  source/templates/classic/partials/base.activity+community.ejs
  source/templates/classic/partials/base.repositories.ejs
  source/templates/classic/partials/followup.ejs
  source/templates/classic/partials/gists.ejs
  source/templates/classic/partials/habits.ejs
  source/templates/classic/partials/languages.ejs
  source/templates/classic/partials/pagespeed.ejs
  source/templates/classic/partials/posts.ejs
  source/templates/classic/partials/projects.ejs
  source/templates/classic/partials/stackoverflow.ejs
  source/templates/classic/partials/stars.ejs
  source/templates/classic/partials/support.ejs
  source/templates/classic/partials/tweets.ejs
  source/templates/classic/partials/wakatime.ejs
  source/templates/classic/style.css
  source/templates/repository/image.svg
  source/templates/repository/partials/activity.ejs
  source/templates/repository/partials/followup.ejs
  source/templates/repository/partials/languages.ejs
  source/templates/repository/partials/licenses.ejs
  source/templates/repository/partials/pagespeed.ejs
  source/templates/repository/partials/projects.ejs
Labels: core, plugins, templates, templates-classic, templates-repository, web

#315 Fix wakatime's URL
  source/plugins/wakatime/README.md
Labels: plugins

#325 Add indepth languages analysis
  source/app/metrics/utils.mjs
  source/plugins/languages/README.md
  source/plugins/languages/indepth.mjs
  source/plugins/languages/index.mjs
  source/plugins/languages/metadata.yml
Labels: core, plugins

#327 Add `plugin_languages_sections` option and "recently-used" section
  source/plugins/languages/analyzers.mjs
  source/plugins/languages/indepth.mjs
  source/plugins/languages/index.mjs
  source/plugins/languages/metadata.yml
  source/templates/classic/partials/languages.ejs
Labels: plugins, templates, templates-classic

#326 Use config timezone in all displayed times
  source/app/web/statics/about/index.html
  source/templates/classic/partials/activity.ejs
  source/templates/classic/partials/posts.ejs
  source/templates/classic/partials/rss.ejs
  source/templates/markdown/partials/activity.ejs
  source/templates/markdown/partials/posts.ejs
  source/templates/repository/partials/activity.ejs
  source/templates/repository/partials/rss.ejs
Labels: metrics-insights, templates, templates-classic, templates-markdown, templates-repository, web

#329 Improvements languages indepth analysis
  source/app/mocks/api/github/graphql/base.repositories.mjs
  source/plugins/base/index.mjs
  source/plugins/base/queries/repositories.graphql
  source/plugins/languages/analyzers.mjs
  source/plugins/languages/index.mjs
  source/plugins/languages/metadata.yml
  source/templates/classic/partials/languages.ejs
  source/templates/classic/style.css
  source/templates/repository/partials/languages.ejs
Labels: core, plugins, templates, templates-classic, templates-repository, tests

#337 Copyedit coding habits plugin
  source/app/web/statics/about/index.html
  source/templates/classic/partials/habits.ejs
Labels: metrics-insights, templates, templates-classic, web

#335 Refacto update formatters
  source/app/metrics/index.mjs
  source/app/metrics/utils.mjs
  source/plugins/achievements/index.mjs
  source/plugins/core/index.mjs
  source/plugins/music/index.mjs
  source/plugins/stackoverflow/index.mjs
  source/plugins/tweets/index.mjs
Labels: core, plugins

#340 Fix widespread misspelling of "category"
  CONTRIBUTING.md
  source/app/metrics/metadata.mjs
  source/app/web/instance.mjs
  source/plugins/achievements/metadata.yml
  source/plugins/activity/metadata.yml
  source/plugins/anilist/metadata.yml
  source/plugins/base/metadata.yml
  source/plugins/contributors/metadata.yml
  source/plugins/core/metadata.yml
  source/plugins/followup/metadata.yml
  source/plugins/gists/metadata.yml
  source/plugins/habits/metadata.yml
  source/plugins/introduction/metadata.yml
  source/plugins/isocalendar/metadata.yml
  source/plugins/languages/metadata.yml
  source/plugins/licenses/index.mjs
  source/plugins/licenses/metadata.yml
  source/plugins/lines/metadata.yml
  source/plugins/music/metadata.yml
  source/plugins/nightscout/metadata.yml
  source/plugins/notable/metadata.yml
  source/plugins/pagespeed/metadata.yml
  source/plugins/people/metadata.yml
  source/plugins/posts/metadata.yml
  source/plugins/projects/metadata.yml
  source/plugins/reactions/metadata.yml
  source/plugins/rss/metadata.yml
  source/plugins/screenshot/metadata.yml
  source/plugins/skyline/metadata.yml
  source/plugins/stackoverflow/metadata.yml
  source/plugins/stargazers/metadata.yml
  source/plugins/stars/metadata.yml
  source/plugins/stock/metadata.yml
  source/plugins/support/metadata.yml
  source/plugins/topics/metadata.yml
  source/plugins/traffic/metadata.yml
  source/plugins/tweets/metadata.yml
  source/plugins/wakatime/metadata.yml
  source/templates/classic/partials/pagespeed.ejs
  source/templates/classic/partials/reactions.ejs
  source/templates/classic/style.css
  source/templates/repository/partials/pagespeed.ejs
Labels: core, plugins, repository, templates, templates-classic, templates-repository, web

#347 Initialise StackOverflow comment count as 0
  source/plugins/stackoverflow/index.mjs
Labels: plugins

#346 Add margin to insights rankeds to avoid clipping
  source/app/web/statics/about/style.css
Labels: metrics-insights, web
