Repository lowlighter/metrics, pull requests merged in 2021-08, with the labels that each got.

#436 Replace `github-linguist` gem with Node port `Nixinova/Linguist`
  Dockerfile
  package-lock.json
  package.json
  source/plugins/habits/index.mjs
  source/plugins/languages/analyzers.mjs
Labels: dependencies, docker, plugins

#438 Web instances: Add flags to enable unsafe extra features
  source/app/web/settings.example.json
  source/plugins/core/index.mjs
  source/plugins/habits/README.md
  source/plugins/habits/index.mjs
  source/plugins/languages/README.md
  source/plugins/languages/index.mjs
  source/plugins/licenses/README.md
  source/plugins/licenses/index.mjs
Labels: core, plugins, web

#440 Base: load all commits rather than only last year
  source/plugins/base/index.mjs
Labels: core, plugins

#441 Move discussions below followup
  source/templates/classic/partials/_.json
Labels: templates, templates-classic

#443 Contributors plugin: Display contributors per contribution category
  package-lock.json
  package.json
  source/app/metrics/utils.mjs
  source/plugins/contributors/README.md
  source/plugins/contributors/index.mjs
  source/plugins/contributors/metadata.yml
  source/templates/classic/style.css
  source/templates/repository/partials/contributors.ejs
Labels: core, dependencies, plugins, templates, templates-classic, templates-repository

#437 Prepare release v3.12
  package-lock.json
  package.json
Labels: dependencies

#446 Create version 3.13 beta
  package-lock.json
  package.json
  source/app/web/statics/about/index.html
  source/app/web/statics/index.html
Labels: dependencies, metrics-insights, web

#458 Remove unused `github-linguist` dependencies
  Dockerfile
Labels: docker

#453 Sort discussion categories for display
  source/plugins/discussions/index.mjs
Labels: plugins

#465 Use display name instead of username in followup plugin
  source/templates/classic/partials/followup.ejs
Labels: templates, templates-classic

#470 Achievements plugin: add chatter and helper achievements
  source/app/mocks/api/github/graphql/achievements.default.mjs
  source/plugins/achievements/list/users.mjs
  source/plugins/achievements/queries/achievements.graphql
Labels: plugins, tests

#469 Discussions plugin: Add upvotes statistics
  source/app/mocks/api/github/graphql/discussions.comments.mjs
  source/app/web/statics/app.placeholder.js
  source/plugins/discussions/index.mjs
  source/plugins/discussions/queries/categories.graphql
  source/plugins/discussions/queries/comments.graphql
  source/templates/classic/partials/discussions.ejs
Labels: web, templates, plugins, tests, templates-classic

#472 Repository: add number action users statistic
  source/templates/repository/partials/base.header.ejs
  source/templates/repository/template.mjs
Labels: templates, templates-repository

#473 Achievements plugin: add option to change display style
  source/app/web/statics/about/index.html
  source/app/web/statics/app.placeholder.js
  source/plugins/achievements/README.md
  source/plugins/achievements/index.mjs
  source/plugins/achievements/metadata.yml
  source/templates/classic/partials/achievements.ejs
  source/templates/classic/style.css
Labels: web, templates, plugins, metrics-insights, templates-classic

#479 Fix typos
  source/plugins/core/README.md
  source/plugins/languages/README.md
Labels: plugins, core

#485 Move non-Node script from `package.json` to workflow
  .github/workflows/workflow.yml
  package.json
Labels: repository, dependencies

#477 Add options to configure which language categories to display
  source/plugins/languages/README.md
  source/plugins/languages/analyzers.mjs
  source/plugins/languages/index.mjs
  source/plugins/languages/metadata.yml
  source/plugins/languages/tests.yml
Labels: plugins

#480 remove obsolete hashtag
  source/plugins/followup/README.md
Labels: plugins

#467 Load all language colours
  package-lock.json
  package.json
  source/plugins/languages/README.md
  source/plugins/languages/analyzers.mjs
  source/plugins/languages/index.mjs
Labels: plugins, dependencies

#487 Fix typo in repository plugin example
  source/plugins/repositories/README.md
Labels: plugins

#490 Pass `config_repositories` as setting to avoid conflicts with `plugin_repositories`
  source/app/action/index.mjs
  source/plugins/base/index.mjs
Labels: action, plugins, core

#476 chore: prepare release v3.13
  package-lock.json
  package.json
Labels: dependencies
