Repository lowlighter/metrics, pull requests merged in 2021-04, with the labels that each got.

#203 Prepare release v3.6
  package-lock.json
  package.json
Labels: dependencies

#209 Add markdown template
  .github/readme/partials/introduction.md
  .github/readme/partials/references.md
  source/app/metrics/index.mjs
  source/app/metrics/metadata.mjs
  source/app/web/instance.mjs
  source/plugins/core/metadata.yml
  source/templates/markdown/README.md
  source/templates/markdown/example.md
  source/templates/markdown/image.svg
  source/templates/markdown/partials/_.json
  source/templates/markdown/partials/activity.ejs
Labels: core, plugins, repository, templates, web

#211 Plugin markdown update
  source/app/metrics/index.mjs
  source/plugins/posts/index.mjs
  source/plugins/posts/queries/hashnode.graphql
  source/plugins/tweets/index.mjs
  source/templates/markdown/example.md
  source/templates/markdown/partials/activity.ejs
  source/templates/markdown/partials/posts.ejs
  source/templates/markdown/partials/rss.ejs
  source/templates/markdown/partials/topics.ejs
  source/templates/markdown/partials/tweets.ejs
Labels: core, plugins, templates

#212 Add gist upload output action
  source/app/action/index.mjs
  source/plugins/core/README.md
  source/plugins/core/metadata.yml
Labels: action, plugins

#214 Feat plugin improves
  source/.eslintrc.yml
  source/app/action/index.mjs
  source/app/metrics/utils.mjs
  source/app/mocks/api/github/graphql/achievements.ranking.mjs
  source/app/web/instance.mjs
  source/plugins/achievements/index.mjs
  source/plugins/achievements/queries/ranking.graphql
  source/templates/classic/partials/achievements.ejs
Labels: action, core, plugins, templates, tests, web

#215 Improvement on web server
  source/app/mocks/api/axios/get/nightscout.mjs
  source/app/web/statics/app.js
  source/app/web/statics/app.placeholder.js
  source/app/web/statics/index.html
  source/app/web/statics/style.css
  source/plugins/achievements/metadata.yml
  source/plugins/contributors/metadata.yml
  source/plugins/people/metadata.yml
  source/plugins/rss/metadata.yml
  source/plugins/stock/metadata.yml
Labels: plugins, tests, web

#217 Add screenshot plugin
  source/plugins/screenshot/README.md
  source/plugins/screenshot/index.mjs
  source/plugins/screenshot/metadata.yml
  source/plugins/screenshot/tests.yml
  source/templates/classic/partials/_.json
  source/templates/classic/partials/screenshot.ejs
  source/templates/classic/style.css
Labels: plugins, templates

#219 Update faker API
  source/app/mocks/api/axios/get/nightscout.mjs
  source/app/mocks/api/axios/get/pagespeed.mjs
  source/app/mocks/api/axios/get/stackoverflow.mjs
  source/app/mocks/api/axios/get/twitter.mjs
  source/app/mocks/api/axios/get/wakatime.mjs
  source/app/mocks/api/axios/get/yahoo.mjs
  source/app/mocks/api/axios/post/anilist.mjs
  source/app/mocks/api/github/graphql/achievements.default.mjs
  source/app/mocks/api/github/graphql/achievements.metrics.mjs
  source/app/mocks/api/github/graphql/achievements.octocat.mjs
  source/app/mocks/api/github/graphql/achievements.ranking.mjs
  source/app/mocks/api/github/graphql/base.repositories.mjs
  source/app/mocks/api/github/graphql/base.repository.mjs
  source/app/mocks/api/github/graphql/base.user.mjs
  source/app/mocks/api/github/graphql/gists.default.mjs
  source/app/mocks/api/github/graphql/isocalendar.calendar.mjs
  source/app/mocks/api/github/graphql/projects.repository.mjs
  source/app/mocks/api/github/graphql/projects.user.mjs
  source/app/mocks/api/github/graphql/stargazers.default.mjs
  source/app/mocks/api/github/graphql/stars.default.mjs
  source/app/mocks/api/github/rest/activity/listEventsForAuthenticatedUser.mjs
  source/app/mocks/api/github/rest/repos/getContributorsStats.mjs
  source/app/mocks/api/github/rest/repos/getViews.mjs
  source/app/mocks/api/github/rest/repos/listContributors.mjs
  source/app/mocks/api/github/rest/request.mjs
  source/app/mocks/api/github/rest/users/getByUsername.mjs
  source/app/web/statics/app.js
  source/app/web/statics/app.placeholder.js
Labels: tests, web

#218 Fix "merged" state in activity plugin
  source/plugins/activity/index.mjs
  source/templates/classic/partials/activity.ejs
  source/templates/markdown/partials/activity.ejs
Labels: plugins, templates

#222 Add notable contributions plugin
  source/app/mocks/api/github/graphql/notable.contributions.mjs
  source/app/mocks/api/github/graphql/notable.organizations.mjs
  source/app/web/statics/app.placeholder.js
  source/plugins/base/metadata.yml
  source/plugins/base/queries/user.graphql
  source/plugins/notable/README.md
  source/plugins/notable/index.mjs
  source/plugins/notable/metadata.yml
  source/plugins/notable/queries/contributions.graphql
  source/plugins/notable/queries/organizations.graphql
  source/plugins/notable/tests.yml
  source/plugins/skyline/metadata.yml
  source/templates/classic/partials/_.json
  source/templates/classic/partials/notable.ejs
  source/templates/classic/style.css
Labels: plugins, templates, tests, web

#227 Improve token error msg
  source/app/action/index.mjs
Labels: action

#228 Introducing metrics insights!
  source/app/web/instance.mjs
  source/app/web/statics/about/index.html
  source/app/web/statics/about/script.js
  source/app/web/statics/about/style.css
  source/app/web/statics/app.js
  source/app/web/statics/index.html
  source/app/web/statics/style.css
  source/plugins/achievements/index.mjs
  source/plugins/languages/README.md
  source/plugins/languages/index.mjs
  source/plugins/languages/metadata.yml
Labels: plugins, web

#230 Add achievements plugin support for organization account
  source/app/mocks/api/github/graphql/achievements.default.mjs
  source/app/mocks/api/github/graphql/achievements.organizations.mjs
  source/app/web/statics/about/index.html
  source/plugins/achievements/index.mjs
  source/plugins/achievements/list/index.mjs
  source/plugins/achievements/list/organizations.mjs
  source/plugins/achievements/list/users.mjs
  source/plugins/achievements/metadata.yml
  source/plugins/achievements/queries/achievements.graphql
  source/plugins/achievements/queries/organizations.graphql
Labels: plugins, tests, web

#231 Add GitHub community support plugin
  source/plugins/support/README.md
  source/plugins/support/index.mjs
  source/plugins/support/metadata.yml
  source/plugins/support/tests.yml
  source/templates/classic/partials/_.json
  source/templates/classic/partials/support.ejs
Labels: plugins, templates, templates-classic

#233 Improve UX on web instances
  source/app/web/statics/about/index.html
  source/app/web/statics/about/script.js
  source/app/web/statics/about/style.css
  source/app/web/statics/app.js
  source/app/web/statics/index.html
  source/app/web/statics/style.css
Labels: metrics-insights, web

#220 Prepare release v3.7
  package-lock.json
  package.json
  source/templates/markdown/README.md
Labels: dependencies, templates, templates-markdown

#237 Markdown interpretation
  package-lock.json
  package.json
  source/app/metrics/index.mjs
  source/app/metrics/utils.mjs
  source/app/web/instance.mjs
  source/app/web/statics/about/index.html
  source/app/web/statics/about/script.js
  source/app/web/statics/index.html
  source/plugins/activity/index.mjs
  source/plugins/stackoverflow/index.mjs
  source/plugins/stackoverflow/metadata.yml
  source/templates/classic/partials/activity.ejs
  source/templates/classic/partials/stackoverflow.ejs
  source/templates/classic/style.css
Labels: core, dependencies, metrics-insights, plugins, templates, templates-classic, web

#238 Add support for `extras_css` option
  source/app/action/index.mjs
  source/app/metrics/index.mjs
  source/app/web/settings.example.json
  source/plugins/core/README.md
  source/plugins/core/metadata.yml
Labels: action, core, plugins, web

#240 Feat notable options
  source/app/metrics/utils.mjs
  source/app/mocks/api/github/graphql/notable.contributions.mjs
  source/app/mocks/api/github/graphql/notable.organizations.mjs
  source/plugins/notable/README.md
  source/plugins/notable/index.mjs
  source/plugins/notable/metadata.yml
  source/plugins/notable/queries/contributions.graphql
  source/plugins/notable/queries/organizations.graphql
Labels: core, plugins, tests

#243 Fix "No commits between" error
  source/app/action/index.mjs
Labels: action

#242 Condense merge commits
  source/plugins/activity/index.mjs
Labels: plugins

#246 Improve markdown support and css tokens
  source/app/metrics/utils.mjs
  source/templates/classic/partials/stackoverflow.ejs
  source/templates/classic/style.css
Labels: core, templates, templates-classic

#249 Add `plugin_lines_skipped` option
  source/plugins/lines/index.mjs
  source/plugins/lines/metadata.yml
Labels: plugins

#251 Add `repositories_skipped` option
  source/plugins/base/README.md
  source/plugins/base/index.mjs
  source/plugins/base/metadata.yml
  source/plugins/languages/index.mjs
  source/plugins/lines/index.mjs
Labels: core, plugins

#250 Add user follow-up section
  source/app/mocks/api/github/graphql/base.repositories.mjs
  source/app/mocks/api/github/graphql/base.repository.mjs
  source/app/mocks/api/github/graphql/followup.user.mjs
  source/app/web/statics/app.placeholder.js
  source/plugins/base/queries/repositories.graphql
  source/plugins/base/queries/repository.graphql
  source/plugins/core/index.mjs
  source/plugins/followup/README.md
  source/plugins/followup/index.mjs
  source/plugins/followup/metadata.yml
  source/plugins/followup/queries/user.graphql
  source/plugins/followup/tests.yml
  source/templates/classic/partials/followup.ejs
  source/templates/classic/style.css
Labels: core, plugins, templates, templates-classic, tests, web

#252 Add `plugin_activity_skipped` option
  source/plugins/activity/index.mjs
  source/plugins/activity/metadata.yml
Labels: plugins

#256 Add option to ignores users in reactions plugin
  source/app/mocks/api/github/graphql/reactions.default.mjs
  source/plugins/reactions/README.md
  source/plugins/reactions/index.mjs
  source/plugins/reactions/metadata.yml
  source/plugins/reactions/queries/reactions.graphql
Labels: plugins, tests

#262 Simplify GitHub URLs in comments
  source/app/web/statics/about/index.html
  source/app/web/statics/about/script.js
Labels: metrics-insights, web

#263 Add `embed` method in markdown plugin
  source/app/action/index.mjs
  source/app/metrics/index.mjs
  source/templates/markdown/example.md
Labels: action, core, templates, templates-markdown

#270 Add `markdown-pdf` option as config output
  package-lock.json
  package.json
  source/app/action/index.mjs
  source/app/metrics/index.mjs
  source/app/metrics/utils.mjs
  source/app/web/instance.mjs
  source/plugins/core/metadata.yml
Labels: action, core, dependencies, plugins, web

#273 Add templates metadata
  .github/quickstart/template/metadata.yml
  CONTRIBUTING.md
  source/app/action/index.mjs
  source/app/metrics/index.mjs
  source/app/metrics/metadata.mjs
  source/app/metrics/setup.mjs
  source/app/web/instance.mjs
  source/plugins/core/index.mjs
  source/plugins/core/metadata.yml
  source/templates/classic/README.md
  source/templates/classic/metadata.yml
  source/templates/markdown/README.md
  source/templates/markdown/metadata.yml
  source/templates/repository/README.md
  source/templates/repository/metadata.yml
  source/templates/terminal/README.md
  source/templates/terminal/metadata.yml
Labels: action, core, plugins, repository, templates, templates-classic, templates-markdown, templates-repository, web

#274 Add preview
  .github/preview.mjs
  .gitignore
  package.json
  source/app/web/statics/about/index.html
  source/app/web/statics/about/script.js
  source/app/web/statics/app.js
  source/app/web/statics/index.html
  source/app/web/statics/style.css
  vercel.json
Labels: dependencies, metrics-insights, repository, web

#276 Add selfhosted wakatime integration (wakapi)
  source/plugins/wakatime/index.mjs
  source/plugins/wakatime/metadata.yml
Labels: plugins

#271 Release v3.8
  package-lock.json
  package.json
Labels: core, dependencies, plugins, templates, templates-markdown
