Repository lowlighter/metrics, pull requests merged in 2021-12, with the labels that each got.

#693 fix: update plugin_poopmap_days to number type
  source/plugins/poopmap/metadata.yml
Labels: 🧩 plugins

#696 feat(plugin/music): add youtube music as a provider
  .github/readme/imgs/plugin_music_recent_youtube_cookie_1.png
  .github/readme/imgs/plugin_music_recent_youtube_cookie_2.png
  source/app/mocks/api/axios/post/youtubemusic.mjs
  source/plugins/music/README.md
  source/plugins/music/index.mjs
  source/plugins/music/metadata.yml
  source/plugins/music/tests.yml
Labels: 🧩 plugins, 🎼 plugin music

#705 feat(plugins/activity): add `plugin_activity_ignored` option
  source/plugins/activity/index.mjs
  source/plugins/activity/metadata.yml
Labels: 🧩 plugins, 📰 plugin activity

#703 fix(utils): preserve space in xml code blocks
  source/app/metrics/utils.mjs
Labels: 🧱 core

#704 fix(app/action): fix output `none`
  source/app/action/index.mjs
Labels: 📊 metrics embed

#721 feat(app/web): display required scopes in action code
  source/app/web/instance.mjs
  source/app/web/statics/app.js
Labels: 📊 metrics embed
