Repository lowlighter/metrics, pull requests merged in 2021-02, with the labels that each got.

#88 Split tests
  CONTRIBUTING.md
  package.json
  source/plugins/activity/tests.yml
  source/plugins/anilist/tests.yml
  source/plugins/base/tests.yml
  source/plugins/core/tests.yml
  source/plugins/followup/tests.yml
  source/plugins/gists/tests.yml
  source/plugins/habits/tests.yml
  source/plugins/isocalendar/tests.yml
  source/plugins/languages/tests.yml
  source/plugins/lines/tests.yml
  source/plugins/music/tests.yml
  source/plugins/pagespeed/tests.yml
  source/plugins/people/tests.yml
  source/plugins/posts/tests.yml
  source/plugins/projects/tests.yml
  source/plugins/stargazers/tests.yml
  source/plugins/stars/tests.yml
  source/plugins/topics/tests.yml
  source/plugins/traffic/tests.yml
  source/plugins/tweets/tests.yml
  source/templates/repository/template.mjs
  tests/metrics.test.js
  tests/testscases.js
Labels: dependencies, plugins, repository, templates, tests

#89 Add plugin_anilist_limit_characters and plugin_languages_threshold options
  source/plugins/anilist/README.md
  source/plugins/anilist/index.mjs
  source/plugins/anilist/metadata.yml
  source/plugins/anilist/tests.yml
  source/plugins/languages/README.md
  source/plugins/languages/index.mjs
  source/plugins/languages/metadata.yml
  source/plugins/languages/tests.yml
Labels: plugins

#91 Improve mocking and debugging with web instance
  CONTRIBUTING.md
  source/app/mocks/api/github/rest/activity/listEventsForAuthenticatedUser.mjs
  source/app/mocks/api/github/rest/rateLimit/get.mjs
  source/app/mocks/api/github/rest/repos/getContributorsStats.mjs
  source/app/mocks/api/github/rest/repos/getViews.mjs
  source/app/mocks/api/github/rest/repos/listCommits.mjs
  source/app/mocks/api/github/rest/repos/listContributors.mjs
  source/app/mocks/api/github/rest/request.mjs
  source/app/mocks/api/github/rest/users/getByUsername.mjs
  source/app/mocks/index.mjs
  source/app/web/instance.mjs
  source/app/web/settings.example.json
Labels: repository, tests, web

#92 Add handlers for AniList rate limit
  source/app/metrics/utils.mjs
  source/plugins/anilist/index.mjs
Labels: core, plugins

#90 WakaTime plugin
  .github/readme/imgs/plugin_wakatime_token.png
  source/app/metrics/utils.mjs
  source/app/mocks/api/axios/get/wakatime.mjs
  source/app/web/statics/app.placeholder.js
  source/plugins/wakatime/README.md
  source/plugins/wakatime/index.mjs
  source/plugins/wakatime/metadata.yml
  source/plugins/wakatime/tests.yml
  source/templates/classic/partials/_.json
  source/templates/classic/partials/wakatime.ejs
  source/templates/classic/style.css
Labels: core, plugins, repository, templates, tests, web

#95 Fix CodeQL log injections
  source/app/metrics/index.mjs
  source/app/web/instance.mjs
Labels: core, web

#104 add when it was played for spotify in recent mode
  package-lock.json
  package.json
  source/app/metrics/utils.mjs
  source/plugins/music/README.md
  source/plugins/music/index.mjs
  source/plugins/music/metadata.yml
  source/templates/classic/partials/music.ejs
Labels: core, dependencies, plugins, templates

#108 Nightscout Plugin
  README.md
  action.yml
  settings.example.json
  source/app/mocks/api/axios/get/nightscout.mjs
  source/app/web/statics/app.placeholder.js
  source/plugins/README.md
  source/plugins/nightscout/README.md
  source/plugins/nightscout/index.mjs
  source/plugins/nightscout/metadata.yml
  source/plugins/nightscout/tests.yml
  source/templates/classic/partials/_.json
  source/templates/classic/partials/nightscout.ejs
Labels: plugins, templates, tests, web

#117 Fix habits and stargazers plugin, add repositories_affiliations options and metadata updates
  CONTRIBUTING.md
  source/app/metrics/utils.mjs
  source/plugins/activity/metadata.yml
  source/plugins/anilist/metadata.yml
  source/plugins/base/README.md
  source/plugins/base/index.mjs
  source/plugins/base/metadata.yml
  source/plugins/base/queries/repositories.graphql
  source/plugins/base/queries/user.graphql
  source/plugins/core/metadata.yml
  source/plugins/followup/metadata.yml
  source/plugins/gists/metadata.yml
  source/plugins/habits/index.mjs
  source/plugins/habits/metadata.yml
  source/plugins/isocalendar/metadata.yml
  source/plugins/languages/metadata.yml
  source/plugins/lines/metadata.yml
  source/plugins/music/metadata.yml
  source/plugins/nightscout/metadata.yml
  source/plugins/pagespeed/metadata.yml
  source/plugins/people/metadata.yml
  source/plugins/posts/metadata.yml
  source/plugins/projects/metadata.yml
  source/plugins/stargazers/metadata.yml
  source/plugins/stars/metadata.yml
  source/plugins/topics/metadata.yml
  source/plugins/traffic/metadata.yml
  source/plugins/tweets/metadata.yml
  source/plugins/wakatime/metadata.yml
  source/templates/classic/partials/stargazers.ejs
  source/templates/classic/style.css
Labels: core, plugins, repository, templates

#121 Add option to use twemojis instead of emojis
  CONTRIBUTING.md
  package-lock.json
  package.json
  source/app/metrics/index.mjs
  source/app/metrics/utils.mjs
  source/plugins/core/README.md
  source/plugins/core/metadata.yml
  source/plugins/core/tests.yml
  source/templates/classic/style.css
Labels: core, dependencies, plugins, repository, templates

#124 Organization metrics improvements
  source/plugins/base/queries/organization.graphql
  source/plugins/base/queries/user.graphql
  source/plugins/languages/index.mjs
  source/plugins/languages/metadata.yml
  source/plugins/people/README.md
  source/plugins/people/index.mjs
  source/plugins/people/metadata.yml
  source/plugins/people/queries/people.graphql
  source/plugins/projects/index.mjs
  source/templates/classic/partials/base.header.ejs
  source/templates/classic/partials/people.ejs
Labels: plugins, templates

#126 Add contributors plugin
  source/app/mocks/api/github/graphql/contributors.commit.mjs
  source/app/mocks/api/github/rest/repos/listCommits.mjs
  source/plugins/contributors/README.md
  source/plugins/contributors/index.mjs
  source/plugins/contributors/metadata.yml
  source/plugins/contributors/queries/commit.graphql
  source/plugins/contributors/tests.yml
  source/templates/classic/style.css
  source/templates/repository/partials/_.json
  source/templates/repository/partials/contributors.ejs
Labels: plugins, templates, tests

#127 Add introduction plugin
  source/app/mocks/api/github/graphql/introduction.organization.mjs
  source/app/mocks/api/github/graphql/introduction.repository.mjs
  source/app/mocks/api/github/graphql/introduction.user.mjs
  source/app/web/statics/app.placeholder.js
  source/plugins/introduction/README.md
  source/plugins/introduction/index.mjs
  source/plugins/introduction/metadata.yml
  source/plugins/introduction/queries/organization.graphql
  source/plugins/introduction/queries/repository.graphql
  source/plugins/introduction/queries/user.graphql
  source/plugins/introduction/tests.yml
  source/templates/classic/partials/_.json
  source/templates/classic/partials/introduction.ejs
  source/templates/classic/style.css
  source/templates/repository/partials/_.json
  source/templates/repository/partials/introduction.ejs
Labels: plugins, templates, tests, web

#146 Add new option to contributors plugin
  source/app/mocks/api/github/rest/repos/listCommits.mjs
  source/plugins/contributors/README.md
  source/plugins/contributors/index.mjs
  source/plugins/contributors/metadata.yml
  source/plugins/contributors/tests.yml
  source/plugins/habits/index.mjs
  source/templates/classic/style.css
  source/templates/repository/partials/contributors.ejs
  source/templates/repository/template.mjs
Labels: plugins, templates, tests

#149 Improve web instance
  .github/readme/partials/setup/web.md
  source/app/web/instance.mjs
  source/app/web/settings.example.json
  source/app/web/statics/app.js
  source/app/web/statics/app.placeholder.js
  source/app/web/statics/index.html
  source/app/web/statics/style.css
  source/plugins/core/metadata.yml
Labels: plugins, repository, web

#147 Add GitHub Skyline plugin
  package-lock.json
  package.json
  source/app/metrics/utils.mjs
  source/plugins/skyline/README.md
  source/plugins/skyline/index.mjs
  source/plugins/skyline/metadata.yml
  source/plugins/skyline/tests.yml
  source/templates/classic/partials/_.json
  source/templates/classic/partials/skyline.ejs
Labels: core, dependencies, docker, plugins, templates

#150 Fix CodeQL issues
  source/app/web/instance.mjs
Labels: web

#145 Release v3.4
  package-lock.json
  package.json
Labels: dependencies

#156 normalize dates like the music played_at plugin
  source/plugins/tweets/index.mjs
  source/templates/classic/partials/tweets.ejs
Labels: plugins, templates

#158 Add GitHub emojis support
  source/app/metrics/index.mjs
  source/app/metrics/utils.mjs
  source/app/mocks/api/github/rest/emojis/get.mjs
  source/app/mocks/api/github/rest/users/getByUsername.mjs
  source/plugins/core/README.md
  source/plugins/core/metadata.yml
  source/plugins/core/tests.yml
  source/templates/classic/style.css
Labels: core, plugins, templates, tests

#159 Add stackoverflow plugin
  .github/readme/imgs/plugin_stackoverflow_user_id.png
  source/app/metrics/utils.mjs
  source/app/mocks/api/axios/get/stackoverflow.mjs
  source/app/web/statics/app.placeholder.js
  source/plugins/stackoverflow/README.md
  source/plugins/stackoverflow/index.mjs
  source/plugins/stackoverflow/metadata.yml
  source/plugins/stackoverflow/tests.yml
  source/templates/classic/partials/_.json
  source/templates/classic/partials/stackoverflow.ejs
  source/templates/classic/style.css
Labels: core, plugins, repository, templates, tests, web
