Repository lowlighter/metrics, pull requests merged in 2021-06, with the labels that each got.

#356 Reproduce partial repositories and fetch gitattributes for better recent languages
  source/plugins/habits/index.mjs
  source/plugins/languages/analyzers.mjs
Labels: plugins

#364 Improve apt process in Dockerfile
  Dockerfile
Labels: docker

#371 New "columns" display mode
  .github/readme/partials/setup/action/setup.md
  README.md
  source/app/web/statics/app.placeholder.js
  source/plugins/core/README.md
  source/plugins/core/index.mjs
  source/plugins/core/metadata.yml
  source/templates/classic/image.svg
  source/templates/classic/style.css
Labels: core, plugins, repository, templates, templates-classic, web

#372 Update issue icon
  source/app/web/statics/about/index.html
  source/templates/classic/partials/activity.ejs
  source/templates/classic/partials/base.activity+community.ejs
  source/templates/classic/partials/followup.ejs
  source/templates/classic/partials/stars.ejs
  source/templates/repository/partials/activity.ejs
  source/templates/repository/partials/followup.ejs
Labels: metrics-insights, templates, templates-classic, templates-repository, web

#373 Fix display issues on mobile
  source/app/web/statics/app.placeholder.js
  source/plugins/habits/README.md
  source/plugins/habits/index.mjs
  source/plugins/habits/metadata.yml
  source/plugins/habits/tests.yml
  source/templates/classic/image.svg
  source/templates/classic/partials/followup.ejs
  source/templates/classic/partials/habits.ejs
  source/templates/classic/style.css
Labels: core, plugins, repository, templates, templates-classic, web

#379 Match all underscores for action options
  source/app/web/statics/app.js
Labels: web

#392 Fix typo in bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: repository

#389 Fix typo
  source/plugins/habits/metadata.yml
Labels: plugins

#393 Check if projects/languages/OSes/editors are present in Wakatime response
  source/app/mocks/api/axios/get/wakatime.mjs
  source/plugins/wakatime/index.mjs
  source/plugins/wakatime/tests.yml
Labels: plugins, tests

#390 Upgrade to node 16
  Dockerfile
  package-lock.json
  source/app/metrics/setup.mjs
  source/plugins/languages/analyzers.mjs
  source/plugins/licenses/index.mjs
  tests/metrics.test.js
Labels: core, dependencies, docker, plugins, tests

#400 Adding formatter for license types
  source/app/metrics/utils.mjs
  source/templates/classic/partials/stars.ejs
Labels: core, templates, templates-classic
