Repository lowlighter/metrics, pull requests merged in 2021-03, with the labels that each got.

#163 Migrate imgb64 to jimp
  CONTRIBUTING.md
  package-lock.json
  package.json
  source/app/metrics/utils.mjs
  source/app/mocks/api/axios/get/pagespeed.mjs
  source/plugins/anilist/index.mjs
  source/plugins/contributors/index.mjs
  source/plugins/people/index.mjs
  source/templates/classic/partials/anilist.ejs
  source/templates/classic/partials/base.header.ejs
  source/templates/classic/partials/music.ejs
  source/templates/classic/partials/people.ejs
  source/templates/classic/partials/topics.ejs
  source/templates/repository/partials/contributors.ejs
  source/templates/repository/partials/people.ejs
Labels: core, dependencies, plugins, repository, templates, tests

#164 Feat plugin tweets medias
  source/plugins/tweets/README.md
  source/plugins/tweets/index.mjs
  source/plugins/tweets/metadata.yml
  source/templates/classic/partials/tweets.ejs
  source/templates/classic/style.css
Labels: plugins, templates

#165 Add hashnode support for posts plugin
  source/app/mocks/api/axios/post/hashnode.mjs
  source/app/web/statics/app.placeholder.js
  source/plugins/posts/index.mjs
  source/plugins/posts/metadata.yml
  source/plugins/posts/queries/hashnode.graphql
  source/plugins/posts/tests.yml
  source/templates/classic/partials/posts.ejs
  source/templates/classic/style.css
Labels: plugins, templates, tests, web

#166 Add plugin_people_sponsors_custom option
  source/plugins/people/README.md
  source/plugins/people/index.mjs
  source/plugins/people/metadata.yml
  source/plugins/people/tests.yml
Labels: plugins

#175 Feat docker prevuilt
  action.yml
  source/app/action/action.yml
  source/plugins/core/metadata.yml
Labels: action, plugins

#178 Add option `output_action`
  action.yml
  source/app/action/action.yml
  source/app/action/index.mjs
  source/plugins/core/README.md
  source/plugins/core/metadata.yml
Labels: action, plugins

#184 Adds a dev script
  package-lock.json
  package.json
Labels: dependencies

#182 Add achievements plugin
  source/app/mocks/api/github/graphql/achievements.default.mjs
  source/app/mocks/api/github/graphql/achievements.metrics.mjs
  source/app/mocks/api/github/graphql/achievements.octocat.mjs
  source/app/mocks/api/github/graphql/achievements.ranking.mjs
  source/app/web/statics/app.placeholder.js
  source/plugins/achievements/README.md
  source/plugins/achievements/index.mjs
  source/plugins/achievements/metadata.yml
  source/plugins/achievements/queries/achievements.graphql
  source/plugins/achievements/queries/metrics.graphql
  source/plugins/achievements/queries/octocat.graphql
  source/plugins/achievements/queries/ranking.graphql
  source/plugins/achievements/tests.yml
  source/templates/classic/partials/_.json
  source/templates/classic/partials/achievements.ejs
  source/templates/classic/style.css
Labels: plugins, templates, tests, web

#168 Pre-release v3.5
  .github/readme/partials/documentation/organizations.md
  .github/readme/partials/setup/action.md
  package-lock.json
  package.json
  source/app/web/statics/app.js
  source/plugins/licenses/README.md
  source/plugins/licenses/tests.yml
  source/templates/repository/README.md
Labels: dependencies, plugins, repository, templates, web

#186 Update star icons in classic template
  CONTRIBUTING.md
  package-lock.json
  package.json
  source/app/metrics/index.mjs
  source/templates/classic/partials/activity.ejs
  source/templates/classic/partials/base.activity+community.ejs
  source/templates/classic/partials/base.repositories.ejs
  source/templates/classic/partials/gists.ejs
  source/templates/classic/partials/stargazers.ejs
  source/templates/classic/partials/stars.ejs
Labels: core, dependencies, repository, templates

#189 Use libxmljs2 instead of libxmljs
  CONTRIBUTING.md
  package-lock.json
  package.json
  source/app/metrics/index.mjs
Labels: core, dependencies, repository

#191 Redirect multiple requests in same request instead in web server
  source/app/web/instance.mjs
Labels: web

#193 Add customizable cache for web instance
  source/app/web/instance.mjs
Labels: web

#192 Add RSS plugin
  package-lock.json
  package.json
  source/app/metrics/utils.mjs
  source/app/mocks/api/axios/get/rss.mjs
  source/app/web/statics/app.placeholder.js
  source/plugins/rss/README.md
  source/plugins/rss/index.mjs
  source/plugins/rss/metadata.yml
  source/plugins/rss/tests.yml
  source/templates/classic/partials/_.json
  source/templates/classic/partials/rss.ejs
  source/templates/classic/style.css
  source/templates/repository/partials/_.json
  source/templates/repository/partials/rss.ejs
Labels: core, dependencies, plugins, templates, tests, web

#194 Update README.md
  source/plugins/achievements/README.md
Labels: plugins

#196 Feat plugin stock
  .github/readme/imgs/plugin_stock_token.png
  source/app/metrics/utils.mjs
  source/app/mocks/api/axios/get/yahoo.mjs
  source/app/web/statics/app.placeholder.js
  source/plugins/stock/README.md
  source/plugins/stock/index.mjs
  source/plugins/stock/metadata.yml
  source/plugins/stock/tests.yml
  source/templates/classic/partials/_.json
  source/templates/classic/partials/stock.ejs
  source/templates/classic/style.css
Labels: core, plugins, repository, templates, tests, web

#198 Switch skyline to GIF and add plugin_skyline_compatibility option
  package-lock.json
  package.json
  source/app/metrics/utils.mjs
  source/plugins/skyline/README.md
  source/plugins/skyline/index.mjs
  source/plugins/skyline/metadata.yml
  source/plugins/skyline/tests.yml
  source/templates/classic/partials/skyline.ejs
  source/templates/classic/style.css
Labels: core, dependencies, plugins, templates

#200 Resolve overflow-x bug on the footer (resolve #199)
  source/app/web/statics/style.css
Labels: web
