Repository lowlighter/metrics, pull requests merged in 2021-07, with the labels that each got.

#416 Fix languages plugin crash
  source/plugins/languages/analyzers.mjs
Labels: plugins

#407 Prepare release v3.11
  package-lock.json
  package.json
Labels: dependencies

#428 Support plugin: fix crash because of outdated selector
  source/plugins/support/index.mjs
  source/plugins/support/tests.yml
Labels: plugins

#429 Normalize licenses display
  source/plugins/core/index.mjs
  source/templates/classic/partials/base.repositories.ejs
  source/templates/repository/partials/licenses.ejs
Labels: core, plugins, templates, templates-classic, templates-repository

#430 Add new Discussions plugin
  source/app/mocks/api/github/graphql/discussions.categories.mjs
  source/app/mocks/api/github/graphql/discussions.statistics.mjs
  source/app/web/statics/app.placeholder.js
  source/plugins/discussions/README.md
  source/plugins/discussions/index.mjs
  source/plugins/discussions/metadata.yml
  source/plugins/discussions/queries/categories.graphql
  source/plugins/discussions/queries/statistics.graphql
  source/plugins/discussions/tests.yml
  source/templates/classic/partials/_.json
  source/templates/classic/partials/discussions.ejs
Labels: plugins, templates, templates-classic, tests, web

#431 Add new Repositories plugin
  source/app/mocks/api/github/graphql/repositories.repository.mjs
  source/app/web/statics/app.placeholder.js
  source/plugins/repositories/README.md
  source/plugins/repositories/index.mjs
  source/plugins/repositories/metadata.yml
  source/plugins/repositories/queries/repository.graphql
  source/plugins/repositories/tests.yml
  source/templates/classic/partials/_.json
  source/templates/classic/partials/repositories.ejs
Labels: plugins, templates, templates-classic, tests, web

#433 Add deployments and environments metrics to repositories
  source/app/mocks/api/github/graphql/base.repositories.mjs
  source/app/mocks/api/github/graphql/base.repository.mjs
  source/plugins/base/queries/repositories.graphql
  source/plugins/base/queries/repository.graphql
  source/plugins/core/index.mjs
  source/templates/repository/partials/base.header.ejs
Labels: core, plugins, templates, templates-repository, tests

#434 Achievements plugin: add new "Deployer" achievement
  source/plugins/achievements/list/users.mjs
Labels: plugins

#435 Achievements plugin: Add S rank
  .github/readme/imgs/plugin_achievements_ranks.png
  source/plugins/achievements/README.md
  source/plugins/achievements/index.mjs
  source/plugins/achievements/list/organizations.mjs
  source/plugins/achievements/list/users.mjs
  source/plugins/achievements/metadata.yml
  source/templates/classic/style.css
Labels: plugins, repository, templates, templates-classic
