Repository lowlighter/metrics, pull requests merged in 2022-03, with the labels that each got.

#911 feat(plugins/languages): count verified commits using user's gpg keys
  source/plugins/languages/analyzers.mjs
  source/plugins/languages/index.mjs
  source/templates/classic/partials/languages.ejs
  source/templates/classic/style.css
  tests/mocks/api/github/rest/users/listGpgKeysForUser.mjs
Labels: 🖼️ templates, 🧩 plugins, 🈷️ plugin languages

#928 feat(plugins/wakatime): add an option to include other languages
  source/plugins/wakatime/README.md
  source/plugins/wakatime/index.mjs
  source/plugins/wakatime/metadata.yml
Labels: 🧩 plugins, ⏰ plugin wakatime

#943 fix(plugins/statlists): always return 0 lists
  source/plugins/starlists/index.mjs
Labels: 🧩 plugins, 💫 plugin starlists

#955 fix(plugins/music): apple tracklist (external redesign)
  source/plugins/music/index.mjs
Labels: 🧩 plugins, 🎼 plugin music

#956 chore(deps): update dependencies
  package-lock.json
  package.json
Labels: 📦 dependencies

#954 fix(plugins/stargazers): missing values for repository template
  source/templates/repository/partials/stargazers.ejs
Labels: 🖼️ templates

#938 feat(plugins/habits): add `plugin_habits_charts_type`
  source/plugins/habits/index.mjs
  source/plugins/habits/metadata.yml
  source/templates/classic/partials/habits.ejs
  source/templates/classic/style.css
Labels: 🖼️ templates, 🧩 plugins, 💡 plugin habits, 🈷️ plugin languages

#959 fix(plugins/people): duplicate sponsors when using `plugin_people_sponsors_custom`
  source/plugins/people/index.mjs
Labels: 🧩 plugins, 🧑‍🤝‍🧑 plugin people

#958 feat(plugins/sponsors): add `plugin_sponsors_past`
  source/plugins/sponsors/examples.yml
  source/plugins/sponsors/index.mjs
  source/plugins/sponsors/metadata.yml
  source/plugins/sponsors/queries/all.graphql
  source/templates/classic/partials/sponsors.ejs
  source/templates/classic/style.css
  tests/mocks/api/github/graphql/sponsors.all.mjs
Labels: 🖼️ templates, 🧩 plugins, 💕 plugin sponsors

#962 fix(ci): vercel preview
  .github/scripts/preview.mjs
  source/app/web/statics/app.placeholder.js
Labels: 📊 metrics embed

#961 chore(deps): update actions/github to v5
  .github/scripts/release.mjs
  package-lock.json
  package.json
  source/app/action/index.mjs
Labels: 📊 metrics embed, 📦 dependencies

#966 fix(plugins/skyline): fix waiting selector
  source/plugins/skyline/index.mjs
Labels: 🧩 plugins, 🌇 plugin skyline

#967 feat(plugins/people): add `plugin_people_identicons_hide`
  source/plugins/people/index.mjs
  source/plugins/people/metadata.yml
Labels: 🧩 plugins, 🧑‍🤝‍🧑 plugin people
