Repository lowlighter/metrics, pull requests merged in 2022-04, with the labels that each got.

#985 feat(plugins/languages): various improvements
  source/plugins/languages/analyzers.mjs
  source/plugins/languages/index.mjs
  source/plugins/languages/metadata.yml
  source/templates/classic/partials/languages.ejs
Labels: 🖼️ templates, 🧩 plugins, 🈷️ plugin languages

#1003 feat(plugins/sponsors): fetch more than 100 sponsors/past sponsors and display organizations
  source/plugins/sponsors/index.mjs
  source/plugins/sponsors/queries/active.graphql
  source/plugins/sponsors/queries/all.graphql
  source/plugins/sponsors/queries/description.graphql
  source/templates/classic/partials/sponsors.ejs
  tests/mocks/api/github/graphql/sponsors.active.mjs
  tests/mocks/api/github/graphql/sponsors.all.mjs
  tests/mocks/api/github/graphql/sponsors.description.mjs
Labels: 🖼️ templates, 🧩 plugins, 💕 plugin sponsors

#999 feat(plugins/base): add `indepth` mode for more accurate stats
  source/plugins/base/index.mjs
  source/plugins/base/metadata.yml
  source/plugins/base/queries/contributions.graphql
Labels: 🧩 plugins, 🗃️ base

#1004 fix(plugins/languages): improved timeout messages
  source/plugins/languages/analyzers.mjs
  source/templates/classic/partials/languages.ejs
  source/templates/classic/style.css
Labels: 🖼️ templates, 🧩 plugins, 🈷️ plugin languages

#1006 fix(plugins/notable): improve readability of indepth badges
  source/templates/classic/style.css
Labels: 🖼️ templates

#1005 fix(plugins/base): number of org packages is incorrect
  source/plugins/base/index.mjs
Labels: 🧩 plugins, 🗃️ base

#1008 feat(app/action): improved setup error handling for exceeded rate-limit
  source/app/action/index.mjs
Labels: 📊 metrics embed

#1009 feat(app/action): add `notice_releases` option
  source/app/action/index.mjs
  source/plugins/core/metadata.yml
Labels: 🧩 plugins, 📊 metrics embed, 🧱 core

#1011 feat(plugins/sponsors): add `list` support to `plugin_sponsors_sections`
  source/plugins/sponsors/index.mjs
  source/plugins/sponsors/metadata.yml
  source/templates/classic/partials/sponsors.ejs
  source/templates/classic/style.css
Labels: 🖼️ templates, 🧩 plugins, 💕 plugin sponsors

#1012 feat(plugins/sponsors): add `plugin_sponsors_size`
  source/plugins/sponsors/index.mjs
  source/plugins/sponsors/metadata.yml
  source/plugins/sponsors/queries/active.graphql
  source/plugins/sponsors/queries/all.graphql
  source/templates/classic/partials/sponsors.ejs
Labels: 🖼️ templates, 🧩 plugins, 💕 plugin sponsors

#1013 feat(plugins/calendar): add new plugin
  source/plugins/calendar/README.md
  source/plugins/calendar/examples.yml
  source/plugins/calendar/index.mjs
  source/plugins/calendar/metadata.yml
  source/plugins/calendar/queries/calendar.graphql
  source/templates/classic/partials/_.json
  source/templates/classic/partials/calendar.ejs
  source/templates/classic/style.css
  tests/mocks/api/github/graphql/calendar.default.mjs
Labels: 🖼️ templates, 🧩 plugins, 📆 plugin calendar

#1014 feat(app/action): add `quota_required_*` options
  source/app/action/index.mjs
  source/plugins/core/metadata.yml
Labels: 🧩 plugins, 📊 metrics embed, 🧱 core

#1018 feat(plugins/sponsors): respect privacy level for active sponsors
  source/plugins/sponsors/index.mjs
  source/plugins/sponsors/metadata.yml
  source/plugins/sponsors/queries/active.graphql
  tests/mocks/api/github/graphql/sponsors.active.mjs
Labels: 🧩 plugins, 💕 plugin sponsors

#1020 fix(plugins/anilist): handle `null` description
  source/plugins/anilist/index.mjs
Labels: 🧩 plugins, 🌸 plugin anilist

#1022 feat(plugins/calendar): add negative number support for `plugin_calendar_limit`
  source/plugins/calendar/index.mjs
  source/plugins/calendar/metadata.yml
Labels: 🧩 plugins, 📆 plugin calendar

#1023 feat(app/actions): display plugins errors in logs
  source/app/action/index.mjs
  source/app/metrics/index.mjs
Labels: 📊 metrics embed, 🧱 core

#1024 fix(plugins/notable): sort contributions by stargazers
  source/plugins/notable/index.mjs
Labels: 🧩 plugins, 🎩 plugin notable
