Repository lowlighter/metrics, pull requests merged in 2022-05, with the labels that each got.

#1038 fix(plugins/languages): recent languages description says `NaN` when no commits found
  source/templates/classic/partials/languages.ejs
  source/templates/repository/partials/languages.ejs
Labels: 🖼️ templates

#1037 fix(app/metrics): markdown conversion to pdf (`Cannot read properties of undefined (reading 'length')`)
  source/app/metrics/index.mjs
  source/app/metrics/utils.mjs
Labels: 🧱 core

#1044 fix(app/metrics): hide `config_gemoji` error when `token: NOT_NEEDED`
  source/app/metrics/utils.mjs
  source/plugins/core/metadata.yml
Labels: 🧩 plugins, 🧱 core

#1032 fix(plugins/base): indepth mode
  source/app/action/index.mjs
Labels: 🧩 plugins, 📊 metrics embed, 🗃️ base

#1051 fix(docs): several typos
  source/plugins/base/README.md
  source/plugins/base/metadata.yml
  source/plugins/core/README.md
  source/templates/markdown/README.md
Labels: 🖼️ templates, 🧩 plugins, 🗃️ base, 🧱 core

#1052 Add `plugin_wakatime_repositories_visibility` option
  source/plugins/wakatime/index.mjs
  source/plugins/wakatime/metadata.yml
Labels: 🧩 plugins, ⏰ plugin wakatime

#1060 Update X-RapidAPI-Host to yh-finance.p.rapidapi.com
  source/plugins/community/stock/index.mjs
  tests/mocks/api/axios/get/yahoo.mjs
Labels: 🧩 plugins, 🎲 community plugin

#1073 fix(plugins/repositories): duplicated mapping key
  source/app/web/statics/app.js
Labels: 📊 metrics embed

#1074 fix(plugins/achievements): packager achievement not unlocked with packages from ghcr.io
  source/plugins/achievements/index.mjs
  source/plugins/achievements/list/organizations.mjs
  source/plugins/achievements/list/users.mjs
Labels: 🧩 plugins, 🏆 plugin achievements

#1077 fix: output of missing dependencies
  source/app/action/run.sh
Labels: 📊 metrics embed

#1082 feat(plugins/wakatime): add `plugin_wakatime_languages_ignored`
  source/plugins/wakatime/index.mjs
  source/plugins/wakatime/metadata.yml
Labels: 🧩 plugins, ⏰ plugin wakatime

#1081 fix(plugins/base): job availability status
  source/app/web/statics/app.placeholder.js
  source/plugins/base/index.mjs
  source/plugins/base/metadata.yml
  source/plugins/base/queries/user.graphql
  source/plugins/core/index.mjs
  source/plugins/core/metadata.yml
  tests/mocks/api/github/graphql/base.user.mjs
Labels: 🧩 plugins, 📊 metrics embed, 🗃️ base, 🧱 core

#1045 feat(app/metrics): add `clean_workflows` option
  source/app/action/index.mjs
  source/plugins/core/metadata.yml
Labels: 🧩 plugins, 📊 metrics embed, 🧱 core
