Repository lowlighter/metrics, pull requests merged in 2022-09, with the labels that each got.

#1213 feat(plugins/leetcode): add plugin
  .github/actions/spelling/expect.txt
  source/app/web/statics/embed/app.placeholder.js
  source/plugins/leetcode/README.md
  source/plugins/leetcode/examples.yml
  source/plugins/leetcode/index.mjs
  source/plugins/leetcode/metadata.yml
  source/plugins/leetcode/queries/languages.graphql
  source/plugins/leetcode/queries/problems.graphql
  source/plugins/leetcode/queries/recent.graphql
  source/plugins/leetcode/queries/skills.graphql
  source/templates/classic/partials/_.json
  source/templates/classic/partials/leetcode.ejs
  source/templates/classic/style.css
  tests/mocks/api/axios/post/leetcode.mjs
Labels: 🖼️ templates, 🧩 plugins, 📊 metrics embed

#1215 feat(plugins/community/chess): add plugin
  .github/actions/spelling/excludes.txt
  .github/actions/spelling/expect.txt
  .github/actions/spelling/patterns.txt
  .github/readme/imgs/plugin_chess_lichess_token_0.png
  .github/readme/imgs/plugin_chess_lichess_token_1.png
  .github/readme/imgs/plugin_chess_lichess_token_2.png
  .github/scripts/files/examples.yml
  package-lock.json
  package.json
  source/app/web/statics/embed/app.placeholder.js
  source/plugins/community/chess/README.md
  source/plugins/community/chess/examples.yml
  source/plugins/community/chess/index.mjs
  source/plugins/community/chess/metadata.yml
  source/templates/classic/partials/_.json
  source/templates/classic/partials/chess.ejs
  tests/mocks/api/axios/get/lichess.mjs
  tests/secrets.json
Labels: 🖼️ templates, 🧩 plugins, 📊 metrics embed, 🎲 community plugins

#1224 feat(plugins/starlists): add `ignored` and `aliases` for `starlists.languages` and some fix
  README.md
  action.yml
  source/plugins/base/README.md
  source/plugins/community/chess/README.md
  source/plugins/habits/README.md
  source/plugins/languages/metadata.yml
  source/plugins/leetcode/README.md
  source/plugins/notable/README.md
  source/plugins/repositories/README.md
  source/plugins/starlists/README.md
  source/plugins/starlists/index.mjs
  source/plugins/starlists/metadata.yml
Labels: 🧩 plugins, 🈷️ plugin languages, 💫 plugin starlists

#1225 docs(plugins/core): fix output_action description
  .github/readme/partials/documentation/setup/action.md
  source/plugins/core/README.md
Labels: 🧩 plugins, 🧱 core

#1238 ref(plugins): centralize skip and ignore filters
  source/app/metrics/utils.mjs
  source/plugins/achievements/index.mjs
  source/plugins/activity/index.mjs
  source/plugins/code/index.mjs
  source/plugins/contributors/index.mjs
  source/plugins/habits/index.mjs
  source/plugins/languages/analyzers.mjs
  source/plugins/languages/index.mjs
  source/plugins/lines/index.mjs
  source/plugins/notable/index.mjs
  source/plugins/reactions/index.mjs
  source/plugins/traffic/index.mjs
  source/plugins/wakatime/index.mjs
Labels: 🧩 plugins, 🧱 core, 🏆 plugin achievements, 📰 plugin activity, ♐ plugin code, 🏅 plugin contributors, 💡 plugin habits, 🈷️ plugin languages, 👨‍💻 plugin lines, 🎩 plugin notable, 🎭 plugin reactions, 🧮 plugin traffic, ⏰ plugin wakatime

#1244 fix(app/metrics): irrevelant warnings for `embed` function
  source/app/metrics/index.mjs
Labels: 🧱 core
