Repository lowlighter/metrics, pull requests merged in 2022-10, with the labels that each got.

#1246 feat(app/web): add copy markdown code button
  package-lock.json
  source/app/web/statics/embed/app.js
  source/app/web/statics/embed/index.html
Labels: 📊 metrics embed

#1118 ref(plugins/languages): indepth mode
  .github/actions/spelling/allow.txt
  package-lock.json
  package.json
  source/app/metrics/utils.mjs
  source/plugins/languages/README.md
  source/plugins/languages/analyzer/analyzer.mjs
  source/plugins/languages/analyzer/cli.mjs
  source/plugins/languages/analyzer/indepth.mjs
  source/plugins/languages/analyzer/recent.mjs
  source/plugins/languages/analyzers.mjs
  source/plugins/languages/index.mjs
  source/plugins/languages/metadata.yml
  source/templates/repository/partials/languages.ejs
  tests/mocks/api/github/rest/repos/get.mjs
  tests/mocks/api/github/rest/request.mjs
Labels: 🖼️ templates, 🧩 plugins, 🧱 core, 🈷️ plugin languages

#1259 chore(deps): upgrade and make specialized deps optional
  package-lock.json
  package.json
  source/app/metrics/utils.mjs
  source/plugins/rss/index.mjs
Labels: 🧩 plugins, 🧱 core, 🗼 plugin rss

#1260 feat: advanced pattern matching support
  source/app/metrics/metadata.mjs
  source/app/metrics/utils.mjs
  source/plugins/activity/metadata.yml
  source/plugins/base/metadata.yml
  source/plugins/code/metadata.yml
  source/plugins/core/README.md
  source/plugins/core/metadata.yml
  source/plugins/habits/metadata.yml
  source/plugins/languages/metadata.yml
  source/plugins/lines/metadata.yml
  source/plugins/notable/metadata.yml
  source/plugins/traffic/metadata.yml
Labels: 🧩 plugins, 🗃️ base, 🧱 core, 📰 plugin activity, ♐ plugin code, 💡 plugin habits, 🈷️ plugin languages, 👨‍💻 plugin lines, 🎩 plugin notable, 🧮 plugin traffic
