Repository lowlighter/metrics, pull requests merged in 2022-08, with the labels that each got.

#1178 feat(plugins/projects): add support for GitHub projects beta
  source/app/web/statics/embed/app.placeholder.js
  source/plugins/projects/index.mjs
  source/plugins/projects/metadata.yml
  source/plugins/projects/queries/repository.graphql
  source/plugins/projects/queries/repository.legacy.graphql
  source/plugins/projects/queries/user.graphql
  source/plugins/projects/queries/user.legacy.graphql
  source/templates/classic/partials/projects.ejs
  source/templates/classic/style.css
  source/templates/repository/partials/projects.ejs
  tests/mocks/api/github/graphql/projects.repository.legacy.mjs
  tests/mocks/api/github/graphql/projects.repository.mjs
  tests/mocks/api/github/graphql/projects.user.legacy.mjs
  tests/mocks/api/github/graphql/projects.user.mjs
Labels: 🖼️ templates, 🧩 plugins, 📊 metrics embed, 🗂️ plugin projects

#1179 feat(plugins/repositories): add options for starred/random repositories
  source/plugins/repositories/index.mjs
  source/plugins/repositories/metadata.yml
  source/plugins/repositories/queries/random.graphql
  source/plugins/repositories/queries/starred.graphql
  tests/mocks/api/github/graphql/repositories.random.mjs
  tests/mocks/api/github/graphql/repositories.starred.mjs
Labels: 🧩 plugins, 📓 plugin repositories

#1180 Spelling
  .github/readme/partials/documentation/organizations.md
  .github/readme/partials/documentation/setup/web.md
  .github/readme/partials/templated/README.md
  .github/readme/partials/templated/plugins.community.md
  .github/readme/partials/templated/plugins.md
  .github/scripts/markdown_example.mjs
  .github/workflows/examples.yml
  ARCHITECTURE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  action.yml
  source/app/action/index.mjs
  source/app/metrics/index.mjs
  source/app/metrics/presets.mjs
  source/app/metrics/utils.mjs
  source/app/web/statics/embed/index.html
  source/app/web/statics/index.html
  source/app/web/statics/insights/index.html
  source/plugins/README.md
  source/plugins/activity/README.md
  source/plugins/activity/index.mjs
  source/plugins/activity/metadata.yml
  source/plugins/anilist/index.mjs
  source/plugins/base/README.md
  source/plugins/base/metadata.yml
  source/plugins/community/README.md
  source/plugins/community/poopmap/README.md
  source/plugins/community/stock/index.mjs
  source/plugins/contributors/README.md
  source/plugins/contributors/index.mjs
  source/plugins/contributors/metadata.yml
  source/plugins/core/README.md
  source/plugins/core/index.mjs
  source/plugins/core/metadata.yml
  source/plugins/followup/index.mjs
  source/plugins/habits/README.md
  source/plugins/habits/examples.yml
  source/plugins/habits/index.mjs
  source/plugins/habits/metadata.yml
  source/plugins/languages/README.md
  source/plugins/languages/analyzers.mjs
  source/plugins/lines/index.mjs
  source/plugins/music/README.md
  source/plugins/music/index.mjs
  source/plugins/music/metadata.yml
  source/plugins/pagespeed/README.md
  source/plugins/pagespeed/examples.yml
  source/plugins/people/index.mjs
  source/plugins/reactions/index.mjs
  source/plugins/skyline/README.md
  source/plugins/skyline/metadata.yml
  source/plugins/wakatime/index.mjs
  source/templates/markdown/README.md
  tests/cases/habits.plugin.yml
  tests/cases/pagespeed.plugin.yml
  tests/ci.test.js
  tests/metrics.test.js
  tests/mocks/api/github/graphql/repositories.random.mjs
Labels: 🖼️ templates, ✨ metrics insights, 🧩 plugins, 📊 metrics embed, 🗃️ base, 🧱 core, 📰 plugin activity, 🏅 plugin contributors, 🎟️ plugin followup, 💡 plugin habits, 🈷️ plugin languages, 👨‍💻 plugin lines, 🧑‍🤝‍🧑 plugin people, 🎭 plugin reactions, 🌇 plugin skyline, 🌸 plugin anilist, 🎼 plugin music, ⏱️ plugin pagespeed, ⏰ plugin wakatime, 🎲 community plugins

#1188 feat(plugins/core): support GHES
  source/app/action/index.mjs
  source/app/web/instance.mjs
  source/app/web/settings.example.json
  source/plugins/core/metadata.yml
Labels: 🧩 plugins, 📊 metrics embed, 🧱 core

#1205 feat(plugins/repositories): add `plugin_repositories_forks` option
  source/app/metrics/metadata.mjs
  source/plugins/repositories/index.mjs
  source/plugins/repositories/metadata.yml
  source/plugins/repositories/queries/random.graphql
  source/plugins/repositories/queries/starred.graphql
Labels: 🧩 plugins, 🧱 core, 📓 plugin repositories
