Repository lowlighter/metrics, pull requests merged in 2022-11, with the labels that each got.

#1276 fix: vercel deployment
  .github/scripts/preview.mjs
  package-lock.json
  package.json
  source/app/web/instance.mjs
Labels: 📊 metrics embed

#1277 fix: fix bad GitHub Linguist link
  source/app/web/statics/insights/index.html
Labels: ✨ metrics insights, 📊 metrics embed

#1282 change link from GitHub Linguist to LinguistJS
  source/app/web/statics/insights/index.html
Labels: ✨ metrics insights, 📊 metrics embed

#1288 feat(plugins/community/screenshot): add `plugin_screenshot_viewport` and `plugin_screenshot_wait`
  source/plugins/community/screenshot/index.mjs
  source/plugins/community/screenshot/metadata.yml
Labels: 🧩 plugins, 🎲 community plugins

#1287 feat(plugins/community/splatoon): add plugin
  .github/actions/spelling/allow.txt
  .github/actions/spelling/excludes.txt
  .github/readme/imgs/plugin_splatoon_auth.png
  .github/readme/imgs/plugin_splatoon_script.png
  Dockerfile
  source/app/metrics/utils.mjs
  source/plugins/community/splatoon/README.md
  source/plugins/community/splatoon/assets.mjs
  source/plugins/community/splatoon/examples.yml
  source/plugins/community/splatoon/index.mjs
  source/plugins/community/splatoon/metadata.yml
  source/plugins/community/splatoon/s3si/.gitignore
  source/plugins/community/splatoon/s3si/LICENSE.md
  source/plugins/community/splatoon/s3si/index.ts
  source/plugins/community/splatoon/token.ts
  source/templates/classic/partials/_.json
  source/templates/classic/partials/splatoon.ejs
Labels: 🖼️ templates, 🧩 plugins, 🧱 core, 🎲 community plugins

#1293 fix(app/action): mishandled `config_output`
  source/app/action/index.mjs
  source/plugins/core/metadata.yml
Labels: 🧩 plugins, 📊 metrics embed, 🧱 core

#1295 fix(app/action): mishandled `config_output`
  source/app/action/index.mjs
Labels: 📊 metrics embed

#1303 feat(plugins/community/splatoon): player card
  source/plugins/community/splatoon/index.mjs
  source/plugins/community/splatoon/metadata.yml
  source/plugins/community/splatoon/s3si/index.ts
  source/templates/classic/partials/splatoon.ejs
Labels: 🖼️ templates, 🧩 plugins, 🎲 community plugins
