Repository lowlighter/metrics, pull requests merged in 2022-01, with the labels that each got.

#734 fix(app/action): base64-to-cache regex
  source/app/action/index.mjs
Labels: 📊 metrics embed

#736 feat(action): add `retries_output_action` and `retries_delay_output_action`
  source/app/action/index.mjs
  source/plugins/core/README.md
  source/plugins/core/metadata.yml
Labels: 🧩 plugins, 📊 metrics embed, 🧱 core

#746 fix(plugins/base): incorrect registration age in some case
  source/plugins/core/index.mjs
Labels: 🧩 plugins, 🧱 core

#751 feat(plugins/discussions): add `plugin_discussions_categories` and `plugin_discussions_categories_limit` support
  source/plugins/discussions/index.mjs
  source/plugins/discussions/metadata.yml
  source/templates/classic/partials/discussions.ejs
Labels: 🖼️ templates, 🧩 plugins, 💬 plugin discussions

#754 fix(plugins/discussions): support for GitHub emojis
  source/plugins/discussions/index.mjs
  source/templates/classic/style.css
Labels: 🖼️ templates, 🧩 plugins, 💬 plugin discussions

#755 fix(app/utils): indent for code block with languages hightlighting
  source/app/metrics/utils.mjs
Labels: 🧱 core

#756 fix(plugins/core): disable css optimization for `extras_css`
  source/app/metrics/index.mjs
  source/app/web/statics/app.placeholder.js
  source/templates/classic/image.svg
  source/templates/repository/image.svg
  source/templates/terminal/image.svg
Labels: 🖼️ templates, 📊 metrics embed, 🧱 core

#759 fix(plugins/isocalendar): algorithm improvements for date ranges
  source/plugins/isocalendar/index.mjs
Labels: 📅 plugin isocalendar, 🧩 plugins, 🏆 plugin achievements

#760 fix(app/utils): GitHub emojis tag were not properly self-closed
  source/app/metrics/utils.mjs
Labels: 🧱 core

#765 feat(plugins/starlists): add new starlists plugin
  source/app/web/statics/app.placeholder.js
  source/plugins/starlists/README.md
  source/plugins/starlists/index.mjs
  source/plugins/starlists/metadata.yml
  source/plugins/starlists/tests.yml
  source/templates/classic/partials/_.json
  source/templates/classic/partials/starlists.ejs
  source/templates/classic/style.css
Labels: 🖼️ templates, 🧩 plugins, 📊 metrics embed

#768 fix(plugins/code): missing newlines
  source/plugins/code/index.mjs
Labels: 🧩 plugins, ♐ plugin code

#769 feat(plugins/starlists): add `plugin_starlists_shuffle_repositories`
  source/plugins/starlists/index.mjs
  source/plugins/starlists/metadata.yml
Labels: 🧩 plugins

#777 feat(plugins/core): add `users_ignored` option
  source/plugins/activity/index.mjs
  source/plugins/base/index.mjs
  source/plugins/reactions/index.mjs
Labels: 🧩 plugins, 🗃️ base, 📰 plugin activity, 🎭 plugin reactions

#776 feat(plugins/topics): add `labels` alias
  source/plugins/topics/README.md
  source/plugins/topics/index.mjs
  source/plugins/topics/metadata.yml
  source/templates/classic/partials/topics.ejs
Labels: 🖼️ templates, 🧩 plugins, 📌 plugin topics

#788 fix(plugins/activity): ellipsis for long commit messages
  source/templates/classic/partials/activity.ejs
  source/templates/classic/style.css
  source/templates/repository/partials/activity.ejs
Labels: 🖼️ templates

#791 fix(plugins/languages): display when all details enabled
  source/plugins/languages/index.mjs
  source/plugins/languages/metadata.yml
  source/templates/classic/partials/languages.ejs
Labels: 🖼️ templates, 🧩 plugins, 🈷️ plugin languages

#789 feat(plugins/notables): advanced filters
  source/app/metrics/utils.mjs
  source/plugins/notable/index.mjs
  source/plugins/notable/metadata.yml
Labels: 🧩 plugins, 🧱 core, 🎩 plugin notable

#797 chore(deps): use @faker-js/faker
  .github/readme/partials/documentation/setup/local.md
  .github/scripts/preview.mjs
  ARCHITECTURE.md
  package-lock.json
  package.json
  source/app/web/instance.mjs
  tests/metrics.test.js
  tests/mocks/index.mjs
Labels: 📊 metrics embed

#798 feat(app/metrics): add `extras_js` support
  source/app/metrics/index.mjs
  source/app/metrics/utils.mjs
  source/app/web/settings.example.json
  source/plugins/core/metadata.yml
Labels: 🧩 plugins, 📊 metrics embed, 🧱 core

#801 feat(app/web): add support for `config.presets`
  source/app/metrics/metadata.mjs
  source/app/metrics/presets.mjs
  source/app/web/instance.mjs
  source/app/web/settings.example.json
  source/plugins/core/README.md
  source/plugins/core/examples.yml
  source/plugins/core/metadata.yml
Labels: 🧩 plugins, 📊 metrics embed, 🧱 core

#816 feat(plugins/stargazers): add `plugin_stargazers_charts_type`
  source/plugins/stargazers/examples.yml
  source/plugins/stargazers/index.mjs
  source/plugins/stargazers/metadata.yml
  source/templates/classic/partials/stargazers.ejs
  source/templates/classic/style.css
Labels: 🖼️ templates, 🧩 plugins, ✨ plugin stargazers

#815 feat(plugins/community/fortune): add plugin
  source/plugins/community/fortune/README.md
  source/plugins/community/fortune/examples.yml
  source/plugins/community/fortune/index.mjs
  source/plugins/community/fortune/metadata.yml
  source/templates/classic/partials/_.json
  source/templates/classic/partials/fortune.ejs
Labels: 🖼️ templates, 🧩 plugins, 💭 plugin community

#817 feat(app/action): add presets
  action.yml
  source/app/action/index.mjs
  source/app/metrics/metadata.mjs
Labels: 📊 metrics embed, 🧱 core

#818 fix(plugins/isocalendar): handle division by zero for user with no commits
  source/plugins/isocalendar/index.mjs
Labels: 📅 plugin isocalendar, 🧩 plugins
