Repository lowlighter/metrics, pull requests merged in 2022-06, with the labels that each got.

#1100 feat(plugins/repositories): add `plugin_repositories_pinned`
  source/plugins/repositories/examples.yml
  source/plugins/repositories/index.mjs
  source/plugins/repositories/metadata.yml
  source/plugins/repositories/queries/pinned.graphql
  tests/mocks/api/github/graphql/repositories.pinned.mjs
  tests/mocks/api/github/graphql/repositories.repository.mjs
Labels: 🧩 plugins, 📓 plugin repositories

#1101 (fix) : Improved PageSpeedInsight Performance, "dev.to" username is always in lowercase, Repositories count in 'Base Content' & follow-up plugin issues and pull requests count
  source/plugins/base/index.mjs
  source/plugins/base/queries/field.repositories.graphql
  source/plugins/base/queries/organization.x.graphql
  source/plugins/base/queries/user.x.graphql
  source/plugins/followup/examples.yml
  source/plugins/followup/index.mjs
  source/plugins/followup/metadata.yml
  source/plugins/followup/queries/user.graphql
  source/plugins/pagespeed/examples.yml
  source/plugins/pagespeed/index.mjs
  source/plugins/pagespeed/metadata.yml
  source/plugins/posts/index.mjs
  source/templates/classic/partials/pagespeed.ejs
  source/templates/repository/partials/pagespeed.ejs
  tests/mocks/api/axios/get/pagespeed.mjs
Labels: 🖼️ templates, 🧩 plugins, 🗃️ base, 🎟️ plugin followup, ⏱️ plugin pagespeed, ✒️ plugin posts

#1098 refactor(metrics/insights): new features
  source/app/metrics/index.mjs
  source/app/web/instance.mjs
  source/app/web/statics/about/index.html
  source/app/web/statics/about/script.js
  source/app/web/statics/about/style.css
  source/plugins/base/index.mjs
  source/plugins/core/examples.yml
  source/plugins/core/index.mjs
  source/plugins/reactions/index.mjs
  source/plugins/topics/index.mjs
Labels: ✨ metrics insights, 🧩 plugins, 📊 metrics embed, 🗃️ base, 🧱 core, 🎭 plugin reactions, 📌 plugin topics

#1111 Remove relative position which is resetting flexbox container position in Safari.
  source/templates/classic/style.css
Labels: 🖼️ templates

#957 chore(deps): update faker to v7
  .github/scripts/preview.mjs
  package-lock.json
  package.json
  source/app/metrics/utils.mjs
  source/app/web/instance.mjs
  source/app/web/statics/app.placeholder.js
  source/app/web/statics/index.html
  tests/metrics.test.js
  tests/mocks/api/axios/get/nightscout.mjs
  tests/mocks/api/axios/get/pagespeed.mjs
  tests/mocks/api/axios/get/stackoverflow.mjs
  tests/mocks/api/axios/get/wakatime.mjs
  tests/mocks/api/axios/post/anilist.mjs
  tests/mocks/api/github/graphql/base.calendar.mjs
  tests/mocks/api/github/graphql/discussions.categories.mjs
  tests/mocks/api/github/graphql/reactions.default.mjs
  tests/mocks/api/github/graphql/sponsors.active.mjs
  tests/mocks/api/github/rest/activity/listEventsForAuthenticatedUser.mjs
  tests/mocks/index.mjs
Labels: ⏹️ stale, 📊 metrics embed, 🧱 core, 📦 dependencies

#1113 (Fix/pagespeed): Added placeholder for PWA & (fix/imgb64)
  source/app/metrics/utils.mjs
  source/app/web/statics/app.placeholder.js
Labels: 📊 metrics embed, 🧱 core

#1112 (feat/habit): Added limit option in habit languages
  source/plugins/habits/index.mjs
  source/plugins/habits/metadata.yml
Labels: 🧩 plugins, 💡 plugin habits
