Repository lowlighter/metrics, pull requests merged in 2022-02, with the labels that each got.

#838 feat(plugins/core): add `config_octicon` support
  package-lock.json
  package.json
  source/app/metrics/index.mjs
  source/app/metrics/utils.mjs
  source/plugins/core/metadata.yml
Labels: 🧩 plugins, 🧱 core

#840 fix(plugins/languages): fix empty repository infinite loop
  source/plugins/languages/analyzers.mjs
Labels: 🧩 plugins, 🈷️ plugin languages

#841 feat(plugins/notable): add issues, prs and relative stars badges
  source/plugins/notable/index.mjs
  source/plugins/notable/metadata.yml
  source/plugins/notable/queries/contributions.graphql
  source/plugins/notable/queries/issues.graphql
  source/templates/classic/partials/notable.ejs
  source/templates/classic/style.css
  tests/mocks/api/github/graphql/notable.contributions.mjs
  tests/mocks/api/github/graphql/notable.issues.mjs
Labels: 🖼️ templates, 🧩 plugins, 🎩 plugin notable

#850 fix(templates/markdown): support `repository`
  source/app/metrics/metadata.mjs
  source/templates/markdown/metadata.yml
Labels: 🖼️ templates, 🧱 core

#849 feat(plugins/stargazers): add support for `chartist` mode (repository)
  source/templates/repository/partials/stargazers.ejs
Labels: 🖼️ templates

#848 fix(plugins/stargazers): invalid month when using `chartist` mode
  source/plugins/stargazers/index.mjs
Labels: 🧩 plugins, ✨ plugin stargazers

#853 feat(plugins/starlists): add languages, forks and stars to repositories
  source/plugins/starlists/index.mjs
  source/templates/classic/partials/starlists.ejs
  source/templates/classic/style.css
Labels: 🖼️ templates, 🧩 plugins, 💫 plugin starlists

#856 feat(plugins/starlists): add languages statistics supports
  source/plugins/starlists/index.mjs
  source/plugins/starlists/metadata.yml
  source/templates/classic/partials/starlists.ejs
  source/templates/classic/style.css
Labels: 🖼️ templates, 🧩 plugins, 💫 plugin starlists

#852 fix(app/docker): correctly parse input variables
  .github/readme/partials/documentation/setup/docker.md
  source/app/action/index.mjs
  source/app/metrics/metadata.mjs
Labels: 📊 metrics embed, 🧱 core

#889 fix(app/metrics): make `embed()` defaults to `repository` when `q.repo` is specified
  source/app/metrics/index.mjs
Labels: 🧱 core

#891 feat(plugins/code): improvements
  source/plugins/code/index.mjs
  source/plugins/code/metadata.yml
  source/templates/classic/partials/code.ejs
  source/templates/classic/style.css
Labels: 🖼️ templates, 🧩 plugins, ♐ plugin code

#890 feat(app/metrics): support ignoring users by email for commits related elements
  source/plugins/activity/index.mjs
  source/plugins/base/metadata.yml
  source/plugins/contributors/index.mjs
Labels: 🧩 plugins, 🗃️ base, 📰 plugin activity, 🏅 plugin contributors

#899 fix(music): fixes #866 issue (Overlapping music title)
  source/templates/classic/partials/music.ejs
  source/templates/classic/style.css
Labels: 🖼️ templates

#903 fix(app/web): misplaced tabs menu issue #901
  source/app/web/statics/style.css
Labels: 📊 metrics embed

#910 Fix grammatical errors
  source/plugins/followup/metadata.yml
  source/plugins/introduction/metadata.yml
  source/plugins/people/metadata.yml
Labels: 🧩 plugins, 🎟️ plugin followup, 🙋 plugin introduction, 🧑‍🤝‍🧑 plugin people

#909 fix(app/metrics): possible race condition in `settings.json` loading
  source/app/metrics/setup.mjs
Labels: 🧱 core
