Repository lowlighter/metrics, pull requests merged in 2022-07, with the labels that each got.

#1125 fix(ci): vercel
  .github/scripts/preview.mjs
  source/app/metrics/metadata.mjs
  source/app/web/statics/index.html
  source/plugins/core/index.mjs
  tests/metrics.test.js
  vercel.json
Labels: 🧩 plugins, 📊 metrics embed, 🧱 core

#1128 feat(plugins/sponsors): title option
  source/plugins/sponsors/index.mjs
  source/plugins/sponsors/metadata.yml
  source/templates/classic/partials/sponsors.ejs
Labels: 🖼️ templates, 🧩 plugins, 💕 plugin sponsors

#1138 feat(plugins/habits): add `plugin_habits_languages_threshold`
  source/plugins/habits/index.mjs
  source/plugins/habits/metadata.yml
Labels: 🧩 plugins, 💡 plugin habits

#1137 feat(plugins/stargazers): add worldmap
  package-lock.json
  package.json
  source/app/web/statics/embed/app.placeholder.js
  source/app/web/statics/embed/placeholders/stargazers.worldmap.svg
  source/plugins/stargazers/README.md
  source/plugins/stargazers/examples.yml
  source/plugins/stargazers/index.mjs
  source/plugins/stargazers/metadata.yml
  source/plugins/stargazers/queries/stargazers.graphql
  source/plugins/stargazers/worldmap/atlas/50m_countries.geojson
  source/plugins/stargazers/worldmap/atlas/LICENSE.md
  source/plugins/stargazers/worldmap/index.mjs
  source/templates/classic/partials/stargazers.ejs
  source/templates/classic/style.css
  tests/cases/stargazers.plugin.yml
  tests/mocks/api/github/graphql/stargazers.default.mjs
  tests/mocks/index.mjs
  tests/secrets.json
Labels: 🖼️ templates, 🧩 plugins, 📊 metrics embed, ✨ plugin stargazers

#1139 feat(plugins/skyline): add `plugin_skyline_settings`
  source/plugins/skyline/examples.yml
  source/plugins/skyline/index.mjs
  source/plugins/skyline/metadata.yml
Labels: 🧩 plugins, 🌇 plugin skyline

#1151 feat(plugins/lines): add `plugin_lines_sections` and new features
  source/app/metrics/utils.mjs
  source/app/web/statics/embed/app.placeholder.js
  source/app/web/statics/embed/placeholders/lines.history.svg
  source/plugins/lines/examples.yml
  source/plugins/lines/index.mjs
  source/plugins/lines/metadata.yml
  source/templates/classic/partials/_.json
  source/templates/classic/partials/base.repositories.ejs
  source/templates/classic/partials/lines.ejs
  source/templates/classic/style.css
  tests/mocks/api/github/rest/repos/getContributorsStats.mjs
Labels: 🖼️ templates, 🧩 plugins, 📊 metrics embed, 🧱 core, 👨‍💻 plugin lines

#1156 fix(app): Allow missing includes
  source/app/metrics/setup.mjs
Labels: 🧱 core
