Repository lowlighter/metrics, pull requests merged in 2023-03, with the labels that each got.

#1400 feat(plugins/steam): add plugin
  .github/actions/spelling/allow.txt
  .github/actions/spelling/excludes.txt
  .github/readme/imgs/plugin_steam_userid.png
  .github/readme/imgs/plugin_steam_webtoken.png
  source/app/web/statics/embed/app.placeholder.js
  source/plugins/steam/README.md
  source/plugins/steam/examples.yml
  source/plugins/steam/index.mjs
  source/plugins/steam/metadata.yml
  source/templates/classic/partials/_.json
  source/templates/classic/partials/steam.ejs
  source/templates/classic/style.css
  tests/mocks/api/axios/get/steam.mjs
  tests/secrets.json
Labels: 🖼️ templates, 🧩 plugins, 📊 metrics embed

#1401 chore(plugins/community/splatoon): upgrade s3si to v2
  source/plugins/community/splatoon/s3si/index.ts
  source/plugins/community/splatoon/token.ts
Labels: 🧩 plugins, 🎲 community plugins

#1402 feat(plugins/community/16personalities): add plugin
  .github/actions/spelling/allow.txt
  .github/readme/imgs/plugin_16personalities_profile.png
  source/plugins/community/16personalities/README.md
  source/plugins/community/16personalities/examples.yml
  source/plugins/community/16personalities/index.mjs
  source/plugins/community/16personalities/metadata.yml
  source/templates/classic/partials/16personalities.ejs
  source/templates/classic/partials/_.json
  tests/secrets.json
Labels: 🖼️ templates, 🧩 plugins, 🎲 community plugins

#1413 docs(steam): correct `plugin_steam_user` example
  source/plugins/steam/examples.yml
Labels: 🧩 plugins
